
.Message{
    height: max-content;
    max-width: min-content;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    border: 1.5px solid #1A74EA;
    border-radius: 0.4rem;
    font-size: 1rem;

    & p{
        font-weight: 500;
        word-wrap: break-word;
    }

    & .flexBox{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & small {
            color: #1A74EA;
            font-weight: 600;
        }

        & .delete{
            color: red;
            font-size: 2rem;
            cursor: pointer;
        }
    }
}